body{

    background-image:url(fondo.jpeg);
    background-size: 100vw 130vh;
    background-attachment:fixed;
    margin: 0;
    font-family:'Times New Roman', Times, serif;

}
header{
    height: 100px;
    background: #2197db;
    display:flex;
    justify-content:space-between;
    align-items:center;
}
form{
    width: 450px;
    margin: auto;
    background-color:rgba(0, 0, 0, 0.724);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 8px;

}
h2{
    color: #fff;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-top: 20px;
}
input,textarea{
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    border:none;
}
textarea{
    min-height: 100px;
    max-height: 200px;
    max-width: 100%;
}

#boton{
    background-color: #10a2b9;
    display: inline-block;
    text-decoration: none;
    color: rgb(249, 247, 247);
    padding: 10px 20px;
    border: 3px solid #080808;
    border-radius: 30px;
    margin-top: 15px;
    transition: all 0.4s;

}
#boton:hover{
    cursor: pointer;
    background-color: #d7660a;
    color: #090909; 
}
@media(max-width:480px){
    form{
        width: 100px;
    }
}